.navbar.navbar-expand-md.w-100.py-3 {
  background-color: darkgray;
  position: fixed !important;
}

.logo-arrow {
  position: absolute;
  bottom: -0.7rem;
  left: 1rem;
  width: 4.8rem;
}

.jumbotron{
  background-position: center;
  background-size: cover;
  width: 100%;
}

.jumbotron-homepage{
  background-image: url(../public/images/main-banner01.png);
  height: 100vh;
}

.jumbotron-packages-archive{
  background-image: url(../public/images/main-banner02.png);
  height: 75vh;
}

.jumbotron-homepage-content{
  width: 100%;
  top: 12vh;
  margin-top: 1vh;
  padding: 0 2rem;
}

.jumbotron-homepage-title-wrap {
  padding-right: 0;
}

.jumbotron-hompage-title {
  font-size: 40px;
}

.searching-tool {
  background-color: #f3f3f3a6;
}

.divider-vertical{
  width: 4px;
  height: 7vh;
  background-color: #f3f3f3;
  top: 3vh;
  right: 0;
}

.partners {
  background-color: #F7F7F7;
  padding: 3rem 2rem 3rem 2rem;
}

.liberty-statue-background{
  background-image: url(../public/images/liberty-statue-background.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 40vh;
}

.explore-nature{
  background: linear-gradient(#00000080, #00000080),url(../public/images/promotion-nature.png);
  background-size: cover;
}

.explore-city{
  background: linear-gradient(#00000080, #00000080), url(../public/images/promotion-city.png);
  background-size: cover;
}

.flag-icon {
  left: 0;
  bottom: -10vh
}

.promotion-client {
  background-color: #f0f0f0;
}

.carousel-img{
  width: 5rem;
  height: 5rem;
  border-radius: 40px;
  border: 5px solid #D9D9D9;
}

.carousel-control-prev{
  left: -8%;
}

.carousel-control-next{
  right: -8%;
}

.carousel-control-prev, .carousel-control-next {
  height: fit-content;
  top: 40%;
}

.carousel-indicators [data-bs-target] {
  opacity: 1;
}

.carousel-indicators .active {
  background-color: #DF6951;
}

.trip-filter {
  background-color: #f0f0f0;
}

.plan-trip-form {
  background-color: #D0D0D0;
}

@media (max-width: 575px) {
  #carouselPromotionClient{
    padding: 0% 10%;
  }
}

@media (min-width: 576px) {
  .jumbotron-hompage-title {
    font-size: 60px;
  }

  #carouselPromotionClient{
    padding: 0% 15%;
  }
}

@media (min-width: 768px) {
  .navbar.navbar-expand-md.w-100.py-3 {
    background-color: transparent;
    position: absolute !important;
  }

  .promotion {
    height: 80vh;
  }
  
  .destination-items{
    position: absolute;
    left: 5rem;
    bottom: -10rem;
  }
  
  .destination-items img {
    width: 7rem !important;
  }

  #carouselPromotionClient{
    padding: 0% 25%;
  }

  .jumbotron-homepage-title-wrap {
    padding-right: 5rem;
  }

  .jumbotron-homepage-content{
    margin-top: 10vh;
    padding: 0 5rem;
  }
}

@media (min-width: 992px) {
  .jumbotron-homepage-content{
    width: 85%;
  }
  
  .promotion {
    height: auto;
  }

  .destination-items{
    left: 5rem;
    bottom: 0;
  }

  .destination-items img {
    width: 10rem !important;
  }

  #carouselPromotionClient{
    padding: 0% 30%;
  }

  .jumbotron-homepage-content{
    padding: 0 5rem 0 10rem;
  }
}


@media (min-width: 1200px) {
  .jumbotron-homepage-content {
      width: 70%;
  }

  .destination-items{
    bottom: 10vh;
    left: 5rem;
  }

  .destination-items img {
    width: 12rem !important;
  }
}